<meta name = "viewport" 
initial-scale = 1.0;
maximum-scale = 1.0;
user-scalable = 0; />

body {
	background-color: #000000;
	font-family: Arial;
}

h1 {
	color: white;
	text-align: center;
	font-size: 48px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*margin-left:
	margin-right:; */
}

h3 {
	font-size: 30px;
	color: white;
	padding-bottom: 10px;
	background-color: #000000;
}

p {
	font-size: 18px;
	color: white;
	background-color: #000000;
}

/*ul {
	background-color: #000000;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}*/

div.header {
	background-color: #000000;
	font-size: 36px;
	color: white;
}

div.date {
	font-size: 15px;
	color: #D3D3D3;
	background-color: #000000;
}

div.list {
	font-size: 18px;
	color: white;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #000000;
}