head {
	text-align: center;
	color: white;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: Helvetica;
}

h1 {
	text-align: center;
	font-size: 48px;
	padding-top: 30px;
	padding-bottom: 30px;
}

h3 {
	font-size: 20px;
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 5px;
}

p {
	font-size: 18px;
	text-align: center;
	font-family: Helvetica;
}

div.header {
	font-size: 30px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 30px;
	padding-bottom: 5px;
}

div.date {
	font-size: 14px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	color: #D3D3D3;
}

div.list {
	font-size: 14.5px;
	/*color: white;*/
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

div.location {
	font-size: 16px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	color: #D3D3D3;
}

div.job{
	font-size: 18px;
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
}

.link{
	color: gray;
	font-size: 20px;
}

.subpage{
	color: white;
	font-size: 20px;
	font-family: Helvetica;
}

#degree{
	font-size: 22px;
	text-align: left;
	margin-left:15%;
	margin-right: 15%;
}